form {
  display: flex;
  flex-direction: column;
}

button {
  margin: 20px 15px 0px 0px;
}

.salvar {
  border:1px solid #000000;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  font-family:Verdana;
  font-weight:bold;
  font-size:13px;
  padding:6px 10px;
  text-decoration:none;
  background-color: #eb8e97;
  color: #fff;
}

.cancelar{
  border:1px solid #000000;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  font-family:Verdana;
  font-weight:bold;
  font-size:13px;
  padding:6px 10px;
  text-decoration:none;
  background-color: white;
  color: black;
}
